
@{
    ViewBag.Title = "FrontUserShow1";
}

<h2>FrontUserShow1</h2>

@using MODEL.ZhangYang
@model List<FrontUser>


<!DOCTYPE html>

<html lang="en">
<body class="page-header-fixed page-quick-sidebar-over-content ">
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12" id="Show">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <h2>用户详情</h2>
                            </div>
                            <div class="tools">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                    <table class="table">
                                        <tr>
                                            <td>用户ID</td>
                                            <td>用户昵称</td>
                                            <td>生日</td>
                                            <td>个性签名</td>
                                            <td>用户职业</td>
                                            <td>用户性别</td>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.FrontUserid</td>
                                                <td>@item.UserName</td>
                                                <td>@item.Baddy</td>
                                                <td>@item.Grqm</td>
                                                <td>@item.professional</td>
                                                <td>@item.Age</td>
                                            </tr>
                                        }
                                    </table>
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <h2>统计信息</h2>
                                        </div>
                                        <div class="tools">

                                        </div>
                                    </div>                                 
                                    <table class="table">
                                        <tr>
                                            <td>用户ID</td>
                                            <td>消费金额</td>
                                            <td>订单数量</td>
                                            <td>成长值</td>
                                            <td>优惠卷</td>
                                            <td>收藏话题</td>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.FrontUserid</td>
                                                <td>@item.Consumption</td>
                                                <td>@item.Number</td>
                                                <td>@item.Czz</td>
                                                <td>@item.Yhj</td>
                                                <td>@item.Scht</td>
                                            </tr>
                                        }
                                    </table>
                                </thead>
                                <tbody id="ActivityShow"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_previous">
                            </li>
                            <li class="paginate_button next disabled" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_next">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        //第一这里加载查询的方法
        function Query() {
            $("#ActivityShow").html("");
            $.ajax({
                url: "show2",
                type: "POST",
                dateType: "json",
                success: function (serr) {
                    console.log(serr);
                    $(serr.).each(function myfunction() {
                        var tr = '<tr>'
                            + '<th>' + this.FrontUserid + '</th>'
                            + '<th>' + this.Consumption + '</th>'
                            + '<th>' + this.Number + ' </th>'
                            + '<th>' + this.Czz + '</th>'
                            + '<th>' + this.Yhj + ' </th>'
                            + '<th>' + this.Scht + '</th>'
                            + '</tr>'
                        $("#ActivityShow").append(tr);
                    })
                }
            });
        }
    </script>
</body>
<!-- END BODY -->
</html>

